:root {
  --color-primary: #441800;
  --color-primary-medium: #d1875f;
  --color-primary-light: #e8b193;
  --color-background: #ffeccb;
  --color-background-light: #fff5e4;
  --color-background-lighter: #fff9ed;
  --color-hover: #ffd49e;
}

body {
  background-color: var(--color-background-light);
  color: var(--color-primary);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

button {
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0.5rem;
}

:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  font-style: italic;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

input[type="submit"] {
  font-weight: 200;
}

p {
  margin-top: 0;
}

a {
  background-color: var(--color-background-lighter);
  border-radius: 0.25em;
  padding: 0 0.3em;
  color: var(--color-primary-medium);
  text-decoration: none;
}

a:hover {
  background-color: var(--color-primary);
}

.basic-link {
  background-color: var(--color-background-lighter);
  border: none;
  border-radius: 0.25em;
  color: var(--color-primary-medium);
  cursor: pointer;
  padding: 0 0.3em;
  text-decoration: none;
  font-family: inherit;
  font-size: 1em;
}

.basic-link:hover {
  background-color: var(--color-primary);
  /* color: var(--color-background-light); */
}

.link-overlay {
  background: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.link-overlay:hover {
  background: transparent;
}

hr {
  border: none;
  border-top: 1.5px dashed var(--color-primary-medium);
  margin: 20px auto;
  overflow: visible;
  position: relative;
  width: 100%;
}

time {
  color: var(--color-primary-medium);
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 0.5em;
  margin-left: 0.5rem;
}
