/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

:root {
  --color-primary: #441800;
  --color-background: #ffeccb;
  --color-background-light: #fff5e4;
}

body {
  background-color: var(--color-background-light);
  color: var(--color-primary);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin-left: 0.5rem;
}

:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  font-style: italic;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

p {
  margin-top: 0;
}
