<h1>Under Construction</h1>
<h2>Stay Tuned</h2>
<h4>Smile, it'll be worse tomorrow. And the day after that, it might not be at all.</h4>

<div class="container">
  <div class="box">
    <h2>Legend: Don't be&nbsp;Affraid<br>of Power</h2>
    <p>Unique RPG system; universal and allowing very powerful player characters.</p>
    <p>Work in Progress</p>
  </div>
  <div class="box">
    <h2>Worlds</h2>
    <p>Worlds for the game Legend. Still under development.</p>
  </div>
  <div class="box">
    <h2>Reviewbase</h2>
    <p>Curated database of reviews on the internet. Stationary, books, yarns,...</p>
  </div>
  <div class="box">
    <h2>Other Projects</h2>
    <p>Our other projects.</p>
  </div>
  <!-- Další boxy dle potřeby -->
</div>
