p style="color: green" = notice

h1 Blog posts

#blog_posts
- @blog_posts.each do |blog_post|
    == render(partial: "blog_post_preview", locals: { blog_post: blog_post })

- if current_user&.admin?
  = link_to(t("blog.buttons.new_post"), new_blog_post_path)
