.blog-container {
  display: flex;
  gap: 1rem;
}

.filter-sidebar {
  max-width: 200px;
  min-width: 200px;
}

.blog-posts-list {
  flex: 1;
}

.tag-filter h3 {
  margin-top: 0;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.clear-filters {
  margin-top: 1rem;
}
