.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
}

.main-container {
  background-color: var(--color-background);
  border-radius: 0.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0.6rem 1rem 2rem 1rem;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
}

.preview-box {
  background-color: #fff;
  border: 1.5px solid #333;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  flex: 1 1 0;
  max-width: 600px;
  min-width: 400px;
  padding: 20px;
  position: relative;
  z-index: 0;
  text-decoration: none;
  color: inherit;
}

.preview-box::before {
  border-radius: 0.2rem;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 2px solid #333;
  pointer-events: none;
  z-index: -1;
  background-color: var(--color-background-light);
}

.tag-filter {
  margin-bottom: 1em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

a.preview-box:hover {
  background-color: var(--color-hover);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

a.preview-box:hover::before {
  background-color: var(--color-background-lighter);
}

.blog-post-container hr {
  margin: 2em auto 2em 2em;
  width: 10em;
}

.blog-post-preview {
  border: 1px dashed var(--color-primary-light);
  border-radius: 0.5em;
  margin-bottom: 1em;
  padding: 0.7em;
  position: relative;
}

.blog-post-preview:hover {
  background-color: var(--color-background-light);
  border: 1px solid var(--color-primary-medium);
}